
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
    font-family: Helvetica, sans-serif;
    background: #1B0033; 
    color: #D1B3FF; 
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


nav {
    background: #4B0082; 
    padding: 15px;
    width: 100%;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0 15px;
}

nav ul li a {
    color: #E0AFFF; 
    font-size: 1.5em; 
}


h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 3.5em; 
    color: #BA55D3; 
    margin: 20px 0;
}

h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 2.5em; 
    color: #DDA0DD; 
    margin-bottom: 10px;
}


main {
    max-width: 900px;
    padding: 30px;
    text-align: center;
    font-size: 1.8em; 
}

/* Footer */
footer {
    font-size: 1.2em; 
    margin-top: 20px;
    padding: 15px;
    border-top: 1px solid #DDA0DD;
}
